https://www.perplexity.ai/search/67a9fadb-8589-4e27-8d52-e48555a9b45d

In [1]:
import numpy as np
import pandas as pd

data = {
    'apples':[3, 2, 0, 1],
    'oranges':[0, 3, 7, 2]
}

pd.DataFrame(data,index=["第1","第2","第3","第4"])

    apples  oranges
第1       3        0
第2       2        3
第3       0        7
第4       1        2

In [4]:
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,  
    index=["學生1","學生2","學生3","學生4","學生5"],  
    columns=["國文","英文","數學","地理","歷史"])
df

     國文  英文  數學  地理  歷史
學生1  83  74  76  91  93
學生2  60  85  68  80  86
學生3  65  58  81  66  94
學生4  55  75  60  96  72
學生5  86  84  53  73  84

In [8]:
#依據欄位名稱的選取
df['國文']
df[['國文','英文']]

     國文  英文
學生1  83  74
學生2  60  85
學生3  65  58
學生4  55  75
學生5  86  84

In [10]:
#可以使用numpy的統計function
sum = np.sum(df,axis=1)
mean = np.mean(df,axis=1)
df['總分'] = sum
df['平均'] = mean

In [14]:
df.values

array([[ 83. ,  74. ,  76. ,  91. ,  93. , 417. ,  83.4],
       [ 60. ,  85. ,  68. ,  80. ,  86. , 379. ,  75.8],
       [ 65. ,  58. ,  81. ,  66. ,  94. , 364. ,  72.8],
       [ 55. ,  75. ,  60. ,  96. ,  72. , 358. ,  71.6],
       [ 86. ,  84. ,  53. ,  73. ,  84. , 380. ,  76. ]])

In [23]:
#依據列的選取
#.loc[]  ->依據名稱
#.iloc[] ->這是依據索引

df.loc['學生1']
df.loc[['學生1','學生2']]
df.iloc[0]
df.iloc[:2]
df.iloc[0,:5]
df.iloc[:2,:5]

     國文  英文  數學  地理  歷史
學生1  83  74  76  91  93
學生2  60  85  68  80  86